@charset "UTF-8";

$regular: "Montserrat", sans-serif;
$secondary: "Barlow Condensed", sans-serif;
$color-main: #c0acc7;
$color-secondary: #e8e1e9;
$color-accent: #c28860;
$color-black: #000000;
$color-white: #ffffff;

@mixin reduced-motion {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $color-black;
  background: $color-white;

  ::selection {
    background-color: $color-accent;
    color: $color-white;
  }

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-title {
    text-transform: uppercase;
    font-family: $secondary;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    text-wrap: balance;
  }

  .es-text-accent {
    font-family: $secondary;
    text-transform: uppercase;
  }

  /**************************************/
  /************* kv styles **************/
  /**************************************/
  .es-kv {
    background-color: $color-main;
    color: $color-white;

    &__headline {
      text-transform: uppercase;
      font-family: $secondary;
      padding-block: 16px;
      line-height: 0.9;
      padding: 16px;
    }

    &__headline--top {
      font-weight: 600;
      font-size: 50px;
      margin-block: 0;
    }

    &__headline--bottom {
      font-weight: 400;
      font-size: 70px;
      margin-block: 0;
    }
  }

  @media (min-width: 500px) {
    .es-kv {
      position: relative;

      &__headline {
        position: absolute;
        top: 6%;
        right: 0;
        padding-inline: 32px;
        text-align: right;
      }

      &__headline--top {
        font-size: 40px;
      }

      &__headline--bottom {
        font-size: 52px;
      }
    }
  }

  @media (min-width: 576px) {
    .es-kv {
      &__headline {
        bottom: 7%;
        left: 4%;
        right: unset;
        top: unset;
        padding: 0;
        line-height: 0.8;
        text-align: left;
        &--top {
          font-size: 26px;
        }
        &--bottom {
          font-size: 40px;
        }
      }

      &__packshot {
        position: absolute;
        transform: translate(0%, -50%);
        right: 3%;
        top: 51%;
        width: 43%;

        img {
          margin: unset;
        }
      }
    }
  }

  @media (min-width: 780px) {
    .es-kv {
      &__headline {
        &--top {
          font-size: 46px;
        }
        &--bottom {
          font-size: 60px;
        }
      }
    }
  }

  @media (min-width: 900px) {
    .es-kv {
      &__headline {
        &--top {
          font-size: 48px;
        }
        &--bottom {
          font-size: 78px;
        }
      }
    }
  }

  /**************************************/
  /********** benefits styles ***********/
  /**************************************/

  .es-benefits {
    &__wrapper {
      background-color: $color-main;
      padding: 16px;
    }

    &__headline {
      color: $color-white;
      text-transform: uppercase;
      margin-bottom: 32px;
      line-height: 0.9;
    }

    &__headline--top {
      font-family: $secondary;
      font-weight: 700;
      font-size: 32px;
    }

    &__headline--bottom {
      font-family: $secondary;
      font-weight: 400;
      font-size: 60px;
    }

    &__flexwrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__single {
      display: flex;
      align-items: center;
      color: $color-white;
      gap: 8px;
      transition: all 200ms ease-in-out;

      &:hover {
        margin-left: 20px;
        @include reduced-motion {
          margin-left: 0;
        }
      }

      img {
        margin: unset;
        width: 16px;
      }
    }

    &__bg {
      position: relative;
    }

    &__packs {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 60%;
      transition: all 200ms ease-in-out;

      &:hover {
        scale: 1.1;
        @include reduced-motion {
          scale: 1;
        }
      }
    }
  }

  @media (min-width: 500px) {
    .es-benefits {
      &__photo {
        position: relative;
      }

      &__wrapper {
        position: absolute;
        background-color: transparent;
        top: 18%;
        left: 8%;
        width: 64%;
        padding: 0;
      }
    }
  }

  @media (min-width: 500px) {
    .es-benefits {
      &__headline {
        margin-bottom: 4px;
        &--top {
          font-size: 24px;
        }
        &--bottom {
          font-size: 40px;
        }
      }
    }
  }

  @media (min-width: 576px) {
    .es-benefits {
      &__headline {
        margin-bottom: 14px;
        &--top {
          font-size: 26px;
        }
        &--bottom {
          font-size: 44px;
        }
      }

      &__flexwrapper {
        max-width: 80%;
      }

      &__single {
        font-size: 15px;
      }
    }
  }

  @media (min-width: 780px) {
    .es-benefits {
      &__headline {
        margin-bottom: 24px;
        &--top {
          font-size: 36px;
        }
        &--bottom {
          font-size: 60px;
        }
      }
      &__single {
        font-size: 18px;
      }
      &__packs {
        bottom: -12%;
        width: 67%;
      }
    }
  }

  @media (min-width: 900px) {
    .es-benefits {
      &__wrapper {
        top: 20%;
        left: 7%;
      }

      &__headline {
        margin-bottom: 32px;
        &--top {
          font-size: 48px;
        }
        &--bottom {
          font-size: 80px;
        }
      }

      &__single {
        font-size: 25px;

        img {
          width: 20px;
        }
      }
    }
  }

  /**************************************/
  /********** features styles ***********/
  /**************************************/

  .es-features {
    background-color: $color-main;

    &__icons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__icon {
      max-width: 200px;
      transition: all 200ms ease-in-out;

      &:hover {
        scale: 1.1;
        @include reduced-motion {
          scale: 1;
        }
      }
    }

    &__img {
      overflow: hidden;

      img {
        transition: all 200ms ease-in-out;
      }

      img:hover {
        scale: 1.2;
        @include reduced-motion {
          scale: 1;
        }
      }
    }
  }

  @media (min-width: 500px) {
    .es-features {
      &__icons {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 24px;
      }

      &__icon {
        max-width: 50%;
      }
    }
  }

  @media (min-width: 576px) {
    .es-features {
      display: flex;

      &__img,
      &__icons {
        flex-basis: 50%;
      }
    }
  }

  /**************************************/
  /********** colors styles *************/
  /**************************************/

  .es-colors {
    text-transform: uppercase;
    padding-block: 48px;
    background-color: $color-secondary;

    &__header {
      text-align: center;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 32px;
      padding: 32px;
      max-width: 800px;
      margin: auto;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 185px;
      gap: 24px;
    }

    &__imgContainer {
      position: relative;
      z-index: 1;
    }

    &__maz {
      position: absolute;
      bottom: -30%;
      right: -29%;
      z-index: -1;
      scale: 0.6;
    }

    &__single .es-colors__imgContainer .es-colors__prod {
      transition: all 200ms ease-in-out;
    }

    &__single:hover .es-colors__imgContainer .es-colors__prod {
      scale: 1.1;
      @include reduced-motion {
        scale: 1;
      }
    }

    &__single--text {
      text-align: center;
      width: 100%;
      font-family: $secondary;
      font-weight: 700;
      font-size: 20px;
    }
  }

  @media (min-width: 990px) {
    .es-colors {
      &__wrapper {
        max-width: unset;
        justify-content: left;
        gap: 0;
        padding-left: 12px;
      }
      &__single {
        width: 155px;
      }
    }
  }

  /**************************************/
  /******* disclaimer styles ************/
  /**************************************/

  .es-disclaimer {
    padding: 20px 16px;
    background-color: $color-secondary;
    text-align: center;
    font-size: 13px;
  }

  /**************************************/
  /*********** footer styles ************/
  /**************************************/
  .es-footer {
    background-color: $color-black;
    padding: 24px;
  }
}
